.wrapper {
  min-height: 100vh;
  width: 100%;
  background: rgba(32, 27, 27, 0.133);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start__btn {
  width: 100px;
  height: 40px;
  background-color: black;
  border: none;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}
.start__btn:hover {
  opacity: 0.6;
}

.gameInfo {
  width: 150px;
  height: 25px;
  background-color: black;
  border: none;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  text-align:center;
}
